<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWPXDV0RGN"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-DWPXDV0RGN'); </script>
    <title>Scarves Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A selection of high quality scarves for your enjoyment.">
  	<meta name="author" content="Tom Bealby">
    <link media="all" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems.css" />
    <link media="screen and (min-device-width: 40em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-mediumscreens.css" />
    <link media="screen and (min-device-width: 105em)" rel="stylesheet" type="text/css" href="/css/tradewaysoftwaresystems-largescreens.css" />
</head>
<body class="homePage">

<h1>Welcome To Scarves of the Orient</h1>


<h2 class="watermark">&copy; 2023 Tradeway Software Systems<h2/>
</body>
</html>